#okc{
    color: black;
    background-color: #0181CA;
    text-align: center;
}

::selection{
    background: #f7c82c;
}

#markings, #progress_bar, #pat1_container, #pat2_container, #pat3_container, #pat4_container {
    height: 36px;
}

html{
    background-color: #ffffff;
    font-family: Arial;
}

/* OPTIMIZEEEEE */

/* DYNAMIC SCALING?? */

#controls {
    padding-bottom: 1.5%;
}

#NOSELECT {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: device-width;
}

.markings{
    display: inline-block;
    width: 30px;
    height: 30px;
    /*background-color: #F4F6F5;*/
    border: 1px solid #ffffff;
    text-align: center;
    line-height: 30px; 
}

.clicked_box {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: #f7c82c;
}

.unclicked_box {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: #0B91CE;
}

.progress_on {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    /*background-color: greenyellow;*/
    background-color: #f7c82c;
}

.progress_off {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: black;
}

.centered_text {
    vertical-align:top;
    display: inline-block;
    width: 90px;
    height: 30px;
    border: 1px solid #ffffff;
    line-height: 30px;   /*for text position*/
    padding-right: 1%;

}
    
