h1{
    color: tomato;
}

#NOSELECT {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.unclicked_box {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: cornflowerblue;
}

.clicked_box {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: tomato;
}

.sample_name {
    display: inline-block;
    width: 90px;
    height: 30px;
}

.progress_on {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: greenyellow;
}

.progress_off {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: black;
}